{% extends 'base.html.twig' %}

{% block title %}TraitementReclamation{% endblock %}

{% block body %}
    <h1>TraitementReclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ traitement_reclamation.id }}</td>
            </tr>
            <tr>
                <th>Statut_traitement</th>
                <td>{{ traitement_reclamation.statutTraitement }}</td>
            </tr>
            <tr>
                <th>Date_traitement</th>
                <td>{{ traitement_reclamation.dateTraitement ? traitement_reclamation.dateTraitement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Traitement_description</th>
                <td>{{ traitement_reclamation.traitementDescription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_traitement_reclamation_index') }}">back to list</a>

    <a href="{{ path('app_traitement_reclamation_edit', {'id': traitement_reclamation.id}) }}">edit</a>

    {{ include('traitement_reclamation/_delete_form.html.twig') }}
{% endblock %}
